.container{
  max-width: 50%;
  margin: 40px 40px;
  
  border: 7px solid #e12363;
  border-radius: 10px;
  text-align: center;
  background-color: #607d8b1a;
}
  .visibility-btn{
    margin-top: 40px;
    margin-left: 40px;
  background-color: #b54aa0 !important;
  color: white;
  text-align: center;
  border: none;
  height: 55px;
  width: 90px;
 
  font-size: 15px;
  padding: 10px
  }